  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="#!/" class="logo d-flex align-items-center">
            <img src="/static/eRNA_QTL/image/SlideSmall.png" alt="">
            <span>SpatialTME</span>
          </a>
          <br>
          <br>
          <div class="footer-navigation">
              <h3><a href="http://www.yelab.site/">Ye<span>Lab</span></a></h3>
              <p class="company-name">Shanghai Institute of Immunology</p>
              <p class="company-name">Shanghai Jiaotong University School of Medicine</p>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Links</h4>
          <ul>
            <li><a href="#!/">Home</a></li>
            <li><a href="#!/browse/">Browse</a></li>
            <li><a href="#!/search/">Search</a></li>
            <li><a href="#!/upload/">Analyze</a></li>
            <li><a href="#!/tutorial/">Tutorial</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-contact text-center text-md-start">
          <h4>Follow us at</h4>
          <a href="https://scholar.google.com/citations?user=gr9zi50AAAAJ&hl=en">
            <img src="/static/eRNA_QTL/image/google-logo.png" alt="" width="80" style="margin-bottom: 10px;">
          </a>
          <br>
          <a href="https://pubmed.ncbi.nlm.nih.gov/?term=Youqiong+Ye&size=200">
            <img src="/static/eRNA_QTL/image/pubmed-logo.png" alt="" width="100" style="margin-bottom: 15px;">
          </a>
          <br>
           <a href="https://github.com/Yelab2020/">
             <img src="/static/eRNA_QTL/image/Github-logo.png" alt="" width="80">
           </a>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
           <h4>Contact Us</h4>
           <p>
            Room 607, Building 5, <br>
            No.280 Chongqing South Road,<br>
            Shanghai, China <br><br>
            <strong>Phone:</strong> 021-63846590-776772<br>
            <strong>Email:</strong> youqiong.ye@shsmu.edu.cn<br>
            <strong>Email:</strong> shijintong@sjtu.edu.cn<br>
          </p>
        </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->