 <script >
  //网页加载时运行
  $(function(){
  
      navHeader();
  
      $(window).scroll(function () {
          navHeader();
      })
  
    function navHeader() {
          if ($(window).scrollTop() > 0) {
              $(".header").addClass("dark");
          } else {
              $(".header").removeClass("dark");
          }
      }
      
      function navHeader() {
      if ($(window).scrollTop() > 0) {
        $(".header").addClass("dark");
        $(".navbar ul li a").addClass("active");
      } else {
        $(".header").removeClass("dark");
        $(".navbar ul li a").removeClass("active");
      }
    }

  })
  </script>

  <style>
  .dark{background: rgba(14, 29, 52, 0.9);}
  </style>
    
  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="#!/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="/static/eRNA_QTL/image/SlideSmall.png" alt="">
        <h1>SpatialTME</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#!/" class="active">Home</a></li> 
          <li><a href="#!/browse/">Browse</a></li>
          <li><a href="#!/search/">Search</a></li>
          <li><a href="#!/upload/">Analyze</a></li>
          <li><a href="#!/tutorial/">Tutorial</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->
