
   <!-- ======= Breadcrumbs ======= -->
   <div class="breadcrumbs">
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Analysis</h2>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="container">
        <ol>
          <li><a href="#!/">Home</a></li>
          <li>{$ module $}</li>
        </ol>
      </div>
    </nav>
  </div><!-- End Breadcrumbs -->

  <!-- Sample choose -->
  <div class="container sample-box-square">
    <div class="container sample-box">
      <label for="cancerFilter">Cancer type:</label>
      <select ng-model="cancerFilter">
        <option value="">All</option>
        <option ng-repeat="x in data | unique: 'cancer_type'" value = "{$ x.cancer_type $}"> {$ x.cancer_type $}</option>
      </select>

      <label for="sampleFilter">Sample:</label>
      <select ng-model="sampleFilter" ng-options="sample.sample_id for sample in data | filter:{cancer_type: cancerFilter}">
      </select>
    </div>
    <br>
    <div class="container">
      <div class="search-button">
        <button class="btn btn-primary" id="submit" type="submit" ng-click="analysis()">
          <strong>Analysis</strong>
        </button>
        <button class="btn btn-primary" id="clear" type="clear" ng-click="clear()">
          <strong>Clear</strong>
        </button>
      </div>
    </div>
  </div>

  <!-- ======= Analysis Result ======= -->
  <section class="analysis-result">
    <div class="container" ng-show="analysis_result">
      <h3>Analysis results</h3>
      <div class="container" style="margin-bottom: 20px;">
        <p>It takes some time (about 10s) to load the analysis page the first time.</p>
        <p>Clicking the 'Load Data' button again, if you have selected a different sample for analysis.</p>
      </div>
      <div class="analysis-square">
          <iframe ng-src="{$ analysis_URL|trustAsResourceUrl $}" frameborder="0" id="mainiframe" width='100%' height='700px' scrolling="auto"></iframe>
      </div>
    </div>
  </section>
  <!-- ======= End Analysis Result ======= -->

  <section class="sample-info">
    <div class="container" ng-show="sample_info">
      <h3>Data detail</h3>
      <div class="sample-info-square">
        <div class="row gy-4">
          <div class="sample-info-table-container col-lg-6">
            <table class="sample-info-table">
              <tr>
                <th>Sample ID</th>
                <td>{$ sample.sample_id $}</td>
              </tr>
              <tr>
                <th>Dataset name</th>
                <td>{$ sample.dataset_name $}</td>
              </tr>
              <tr>
                <th>Cancer type</th>
                <td>{$ sample.cancer_type $}</td>
              </tr>
              <tr>
                <th>Organ</th>
                <td>{$ sample.organ $}</td>
              </tr>
              <tr>
                <th>Organ_detail</th>
                <td>{$ sample.organ_detail $}</td>
              </tr>
              <tr>
                <th>Sample status</th>
                <td>{$ sample.sample_status $}</td>
              </tr>
              <tr>
                <th>Platform</th>
                <td>{$ sample.platform_name $}</td>
              </tr>
              <tr>
                <th>Mal-Bdy-nMal axis</th>
                <td>{$ sample.boundary_define $}</td>
              </tr>
              <tr>
                <th>Published date</th>
                <td>{$ sample.published_date $}</td>
              </tr>
              <tr>
                <th>Accessible ID</th>
                <td>{$ sample.accessible_ID $}</td>
              </tr>
              <tr>
                <th>DOI</th>
                <td>{$ sample.doi $}</td>
              </tr>
              <tr>
                <th>Clinical information</th>
                <td>{$ sample.orginal_description $}</td>
              </tr>
          </table>  
          </div>
          <div class="sample-info-image-container col-lg-6" style="text-align: center;">
            <img ng-src="{$ getSampleImageURL(sample) $}" alt="" width="80%" style="margin: 0 auto;">
          </div>
          </div>  
        </div>
      </div>
  </section>
  

  
 
  
