
   <!-- ======= Breadcrumbs ======= -->
   <div class="breadcrumbs">
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Analyze</h2>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="container">
        <ol>
          <li><a href="#!/">Home</a></li>
          <li>Analyze</li>
        </ol>
      </div>
    </nav>
  </div><!-- End Breadcrumbs -->

    <!-- ======= Services Section 改Cancer types ======= -->
    <div id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="content order-last  order-lg-first">
          <h3>Analyze your own data</h3>
          <p>You can upload your data (including your ST data and scRNA-seq data for reference) in this section.
            Then the analaysis results will send to your email after a period of time (about 1~4h depneds on your data size).</p>
            <ol type="disc" list-style-position: inside>
              <li>Click on the <i class="fa fa-question-circle bigger-icon"></i> to check the details.</li>
              <li>Click on the <i class="fa fa-download bigger-icon"></i> to download the demo data.</li>
              </ol>

            <div class="row gy-4">
              <div class="container about-module col-lg-12" >
                <h5>File Submission</h5>
              </div>
              <div class="container about-submodule col-lg-12" >
                <h6>ST data 
                  <button title="ST fileset information" id="st-infoButton" class="btn btn-secondary btn-sm" style="padding:2px 7px;" ng-click="openModal('stInfoModal')">
                    <i class="fa fa-question-circle bigger-icon"></i>
                  </button>
                  <a title="download demo ST fileset" id="st-download-button" class="btn btn-secondary btn-sm"  style="padding:2px 7px;"href="/download_st" download>
                    <i class="fa fa-download bigger-icon"></i>
                  </a>
                </h6>
                <!-- Modal HTML -->
                <div id="stInfoModal" class="modal">
                  <div class="modal-content">
                    <span class="close" ng-click="closeModal('stInfoModal')">&times;</span>
                    <h6>ST File</h6>
                    <p>1. The ST folder should be compressed as tar/tar.gz or zip.</p>
                    <div>
                      <p>2. The ST folder should contain the following files:</p>
                      <ol type="disc" list-style-position: inside>
                        <li>filtered_feature_bc_matrix.h5 or filtered_feature_bc_matrix/</li>
                        <br>
                        <li>spatial/</li>
                        <ol type="circle" list-style-position: inside>
                            <li>tissue_hires_image.png or tissue_lowres_image.png</li>
                            <li>scalefactors_json.json</li>
                            <li>tissue_positions_list.csv</li>
                        </ol>
                      </ol>
                    </div>
                  </div>
                </div>
                <!-- ST 文件上传 -->
                <div class="custom-file-upload">
                  <input id="st-file-upload" type="file" style="display: none;" onchange="angular.element(this).scope().stFileChanged(this)" />
                  <input class="custom-input" placeholder="Choose ST file here..." ng-model="stFileName" required>
                  <button class="browse-btn" onclick="document.getElementById('st-file-upload').click();">Browse</button>
                </div>

              </div>
              <!-- scRNA 文件上传 -->
              <div class="container about-submodule col-lg-6" >
                <h6>scRNA matrix for reference
                  <button title="scRNA matrix file information" id="scrna-mat-infoButton" class="btn btn-secondary btn-sm" style="padding:2px 7px;" ng-click="openModal('scrnaMatInfoModal')">
                    <i class="fa fa-question-circle bigger-icon"></i>
                  </button>
                  <a title="download demo scRNA-matrix" id="scrna-mat-download-button" class="btn btn-secondary btn-sm"  style="padding:2px 7px;"href="/download_scrna_mat" download>
                    <i class="fa fa-download bigger-icon"></i>
                  </a>
                </h6>
                <!-- Modal HTML -->
                <div id="scrnaMatInfoModal" class="modal">
                  <div class="modal-content">
                    <span class="close" ng-click="closeModal('scrnaMatInfoModal')">&times;</span>
                    <h6>scRNA Matrix File</h6>
                    <p>1. The scRNA matrix file should be in RDS or CSV format.</p>
                    <p>2. Row names are gene names and column names are spot IDs.</p>
                    <table>
                      <tr>
                        <th></th> <!-- 空的表头单元格，用于对齐行名列名 -->
                        <th>spot_1</th>
                        <th>spot_2</th>
                      </tr>
                      <tr>
                        <th>gene_1</th>
                        <td>1</td>
                        <td>0</td>
                      </tr>
                      <tr>
                        <th>gene_2</th>
                        <td>0</td>
                        <td>1</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="custom-file-upload">
                  <input id="scrna-mat-file-upload" type="file" style="display: none;" onchange="angular.element(this).scope().scrnaMatFileChanged(this)" />
                  <input class="custom-input" placeholder="Choose scRNA-matrix here..." ng-model="scrnaMatFileName" required>
                  <button class="browse-btn" onclick="document.getElementById('scrna-mat-file-upload').click();">Browse</button>
                </div>              
              </div>
              <div class="container about-submodule col-lg-6" >
                <h6>scRNA metadata for reference
                  <button title="scRNA metadata file information" id="scrna-meta-infoButton" class="btn btn-secondary btn-sm" style="padding:2px 7px;" ng-click="openModal('scrnaMetaInfoModal')">
                    <i class="fa fa-question-circle bigger-icon"></i>
                  </button>
                  <a title="download demo scRNA-metadata" id="scrna-metadata-download-button" class="btn btn-secondary btn-sm"  style="padding:2px 7px;"href="/download_scrna_metadata" download>
                    <i class="fa fa-download bigger-icon"></i>
                  </a>
                </h6>
                <!-- Modal HTML -->
                <div id="scrnaMetaInfoModal" class="modal">
                  <div class="modal-content">
                    <span class="close" ng-click="closeModal('scrnaMetaInfoModal')">&times;</span>
                    <h6>scRNA Metadata File</h6>
                    <p>1. The scRNA metadata file should be in CSV format.</p>
                    <p>2. Row names are spot IDs.</p>
                    <p>3. The only column of the table should represent annotated cell types.</p>
                    <table>
                      <tr>
                        <th></th> <!-- 空的表头单元格，用于对齐行名列名 -->
                        <th>CellType</th>
                      </tr>
                      <tr>
                        <th>spot_1</th>
                        <td>TumorCells</td>
                      </tr>
                      <tr>
                        <th>spot_2</th>
                        <td>Fibroblasts</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <!-- scRNA 文件上传 -->
                <div class="custom-file-upload">
                  <input id="scrna-metadata-file-upload" type="file" style="display: none;" onchange="angular.element(this).scope().scrnaMetadataFileChanged(this)" />
                  <input class="custom-input" placeholder="Choose scRNA-metadata here..." ng-model="scrnaMetadataFileName" required>
                  <button class="browse-btn" onclick="document.getElementById('scrna-metadata-file-upload').click();">Browse</button>
                </div>              
              </div>

              <!-- Match Cell Type Section -->
              <div class="container about-submodule col-lg-12">
                <h6>Match cell type for scRNA
                  <button title="Match cell type file information" id="celltype-infoButton" class="btn btn-secondary btn-sm" style="padding:2px 7px;" ng-click="openModal('celltypeInfoModal')">
                    <i class="fa fa-question-circle bigger-icon"></i>
                  </button>
                </h6>
                <div id="celltypeInfoModal" class="modal">
                  <div class="modal-content">
                    <span class="close" ng-click="closeModal('celltypeInfoModal')">&times;</span>
                    <h6>Match cell type for scRNA</h6>
                    <p>1. Malignant cluster: The name of malignant cluster in scRNAseq dataset, for example "TumorCells","Malignant epithelial cells", etc.</p>
                    <p>2. Normal tissue cluster: The name of adjacent normal tissue cluster in scRNAseq dataset, for example "EpithelialCells","Hepatocytes" etc.</p>
                    <p>3. Stromal cluster: The name of stromal cluster poorly permeated, for example "Fibroblast", "Fibroblasts, EndochelialCells", etc. You can input more than one cluster by separating them with spaces, commas, or slashes.</p>
                    <p><strong>All clusters you enter must be included in your scRNA metadata.</strong></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <input type="text" id="malignant-cluster" class="form-control" placeholder="malignant cluster" required/>
                  </div>
                  <div class="col-lg-4">
                    <input type="text" id="tissue-cluster" class="form-control" placeholder="normal tissue cluster" required/>
                  </div>
                  <div class="col-lg-4">
                    <input type="text" id="stromal-cluster" class="form-control" placeholder="stromal cluster" required/>
                  </div>
                </div>
              </div>

              <div class="container about-submodule col-lg-12" style="margin-top: 20px;">
                <h6>Your E-mail address</h6>
                <input type="email" id="email" class="form-control" placeholder="Please use your educational/academic/institutional email address"  required />
              </div>

              <div class="col-lg-offset-3 col-md-offset-4 form-group search-button d-flex justify-content-end">
                <button class="btn btn-secondary" id="clear" type="button" style="margin-right: 10px;">
                  <strong>Clear</strong>
                </button>
                <br>
                <button class="btn btn-primary" id="submit" type="button" style="margin-right: 10px; opacity: 60%;">
                  <strong>Upload</strong>
                  <progress id="uploadProgress" value="0" max="100" ng-show="progressVisible"></progress>
                  <span ng-show="uploadSuccess">Success!</span>
                </button>
                <br>
                <button class="btn btn-primary" id="run" type="button" ng-show="showRunButton">
                  <strong>Run</strong>
                </button>
              </div>  
            </div>
        </div>
      </div>
    </div>

    <div id="response">
      <!-- Server response will be displayed here -->
    </div>