<!doctype html>
<html lang="en" ng-app="FFL_database">
<head>

    <meta charset="utf-8">
    <title>AnimalTFDB3</title>

    <link rel="icon" href="/static/FFL_database/img/FFL_database-icon.ico">


    <link rel="stylesheet" href="/static/FFL_database/css/bootstrap.css">
    <link rel="stylesheet" href="/static/FFL_database/lib/bootstrap-slider/css/bootstrap-slider.css">
    <link rel="stylesheet" href="/static/FFL_database/css/main.css">


    <script src="/static/FFL_database/lib/angular/angular.js"></script>
    <script src="/static/FFL_database/lib/angular/angular-route.js"></script>
    <script src="/static/FFL_database/lib/angular/angular-resource.js"></script>
    <script src="/static/FFL_database/lib/angular-pageslide-directive/angular-pageslide-directive.js"></script>


    <script src="/static/FFL_database/lib/jquery/jquery-3.1.1.min.js"></script>
    <script src="/static/FFL_database/lib/bootstrap/bootstrap.js"></script>
    <script src="/static/FFL-database/lib/ui-bootstrap/ui-bootstrap-tpls-2.4.0.js"></script>
    <script src="/static/FFL_database/lib/bootstrap-slider/bootstrap-slider.js"></script>
    <script src="/static/FFL_database/lib/bootstrap-slider/angular-bootstrap-slider.js"></script>

</head>
<body>

<div ng-include="'/static/FFL_database/partials/navigation.html'"></div>

<div class="container">
    <h3>Page Not Found.</h3>
</div>

<div ng-include="'/static/FFL_database/partials/footer.html'"></div>


</body>
</html>